{% extends "blog/base.html" %} <!-- builds on base template-->
{% load crispy_forms_tags %} <!-- visualize forms using crispy forms-->
{% block content %}
    <div class = "content-section">
        <form method = "POST">
            {% csrf_token %} <!--provides additional security to the forms-->
            <fieldset class = "form-group">
                <legend class = "border-bottom mb-4">Reset Password</legend> <!-- to give a good look-->
                {{ form|crispy }} 
            </fieldset>
            <div class = "form-group"> <!--div is used to make something appealing-->
                <button class = "btn btn-outline-info" type = "submit">Reset Password</button>
            </div>
        </form>
    </div>
{% endblock content %}



